@{
    ViewBag.Title = "Patrocínio";
}
@section styles {
    <link href="~/Content/css/pages.min.css" rel="stylesheet" />
}

<div class="pg-patrocinio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Content/img/logos/logo_dietaesaude.png" class="ds" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-6 vbottom">
                <img src="~/Content/img/logos/logo_minhavida.png" />
            </div><!--
            --><div class="col-xs-6 col-md-6 vbottom">
                <img src="~/Content/img/logos/logo_tecnonutri.png" />
            </div>
        </div>
    </div>
</div>