@{
    ViewBag.Title = "Manifesto";
}
@section styles {
    <link href="~/Content/css/pages.min.css" rel="stylesheet" />
}

<section class="pg-manifesto">
    <img src="~/Content/img/photos/manifesto.jpg" />
    <div class="container" style="max-width:800px;">
        <h1>Combate à obesidade infantil: por que essa causa também é nossa?</h1>
        <p>
            Observe. No colo da mãe uma criança se esforça para alcançar um vidro de molho shoyo que está sobre a mesa – Ele pensa que é <b>refrigerante</b>,  a mãe fala para a amiga. Dez passos adiante, os pais e os dois filhos pequenos despejam numa mesma bandeja de <b>fast food</b> toda a batata frita de quatro kombos, formando uma montanha de muitas calorias. No buffet a quilo, a garotinha de sete anos monta o seu prato sem o colorido dos vegetais e legumes e sem a supervisão de um adulto. Bastam cinco minutos de olhar atento na praça de alimentação de um shopping para reparar uma dura realidade: nossas crianças estão <b>cada vez mais pesadas</b>. Uma imagem que deveria incomodar muito mais do que incomoda.
        </p>
        <p>
            A questão é tão grave que a Organização Mundial de Saúde (OMS) considera a <b>obesidade infantil</b> um dos desafios mais graves de <b>saúde pública</b> do século 21. De acordo com a OMS, no ano de 2013 havia em todo o mundo mais de <b>42 milhões de crianças com excesso de peso antes de completarem os primeiros cinco anos de idade</b>.
        </p>
        <p>
            No Brasil, a realidade não é menos preocupante. Atualmente <b>uma em cada três crianças no Brasil está pesando mais do que deveria.</b>  O levantamento mais recente da Pesquisa de Orçamentos Familiares aponta que 16,6% dos meninos e 11,8% das meninas entre 5 e 9 anos estão com obesidade. E quando fala-se em sobrepeso, os números saltam para 34,8% entre garotos e 32% entre garotas. Além deles, 21,7% dos adolescentes são apontados com sobrepeso. Ao compararem os dados brasileiros com a evolução do peso por idade estimada pela OMS, os pesquisadores notaram que as crianças brasileiras estão acima da média.
        </p>
        <p>
            Um dos grandes dramas no combate à obesidade infantil reside no fato de que é muito comum o problema ser negligenciado na infância. Diferentemente dos adultos que naturalmente se cobram (ou são cobrados) para manter o peso seja pela saúde, por razões estéticas ou por outros motivos, as crianças são culturalmente poupadas na grande maioria dos casos. O conceito antigo (e errado) de que criança gordinha é criança saudável acaba protelando a preocupação dos pais.  Além disso, muitos adultos acreditam que os quilos a mais irão embora com a fase do estirão do crescimento na adolescência. Mas as estatísticas provam a cada dia que essa não é a realidade. <b>A cada 5 crianças com obesidade, quatro delas continuaram com essa condição na vida adulta</b>, como comprovou um estudo publicado no New England Journal of Medicine.
        </p>
        <p>
            Nem sempre as causas do excesso de peso em crianças decorrem de questões fisiológicas. Especialistas afirmam que cerca de 15% dos casos tem relação com disfunções hormonais e outras doenças, por exemplo. A grande maioria dos casos envolve fatores genéticos, maus hábitos alimentares, sedentarismo ou a combinação desses elementos. Também é muito comum perceber que quando uma criança é gordinha, os pais também estão acima do peso. Mais isso nem sempre tem a ver com a herança genética, e sim com os hábitos da família como um todo. E é justamente nessa questão que ecoa um dos problemas centrais da obesidade infantil.
        </p>
        <p>
            É verdade que no Brasil mal existem políticas públicas e programas sociais consistentes de combate à obesidade infantil. Afinal, quantas escolas públicas que priorizam uma merenda saudável você já ouviu falar? Uma das principais descobertas de uma pesquisa realizada pelo Ibope em parceria com o Instituto Ayrton Senna sobre a educação física nas escolas públicas brasileiras diz respeito à falta de infraestrutura das escolas pesquisadas: 30% delas não têm espaço destinado às aulas de educação física.
        </p>
        <p>
            Ainda assim, especialistas estão cada vez mais taxativos em afirmar que é principalmente em casa que a criança aprende hábitos alimentares saudáveis e quando os pais e familiares são ativos tanto mais fácil fica mostrar para os pequenos a importância de movimentar o corpo.  Em resumo, as chances de uma criança comer mais frutas, vegetais e legumes ou então trocar o biscoito por uma maçã se adultos do seu convívio não fazem o mesmo é praticamente nula. Se há um conceito antigo que nunca esteve tão alta é que o exemplo vem de casa.
        </p>
        <p>
            E mesmo antes os pais tem influência na obesidade dos filhos. A prevenção começa na gravidez: mulheres que ganham mais de 20 kg durante a gestação tem mais chances de ter um bebê com peso elevado. A amamentação também é importante, já que quando o bebê mama no peito, ele aprende a controlar sua saciedade, algo que ele não consegue ter quando é alimentado com mamadeira.
        </p>
        <p>
            Não é difícil perceber como a principal causa da obesidade infantil atualmente são os maus hábitos, tanto alimentares quanto o sedentarismo. Via de regra, o consumo em excesso de açúcar, sódio, gordura saturada e gordura trans são os grandes vilões da alimentação.  Numa lista que engloba itens como refrigerantes, lanches fast food, bebidas açucaradas, salgadinhos de pacote, biscoitos recheados, bolinhos, bisnaguinhas, doces de todo tipo também sobram marcas, tamanhos, cores, sabores e preços para todos os bolsos.
        </p>
        <p>
            De acordo com o Ministério da Saúde, <b>46% das crianças de zero a cinco anos de idade que vivem no Brasil consomem biscoitos e refrigerantes diariamente.</b> Some-se a isso tudo o fato de que a turminha torce o nariz para os campeões em nutrientes, vitaminas e minerais: verduras, frutas e legumes.  E não é só no dia a dia, em casa, que a alimentação é de baixa qualidade. Na escola, o lanche da cantina, da merenda ou da lancheira tendem a seguir o mesmo padrão. E as famílias que tem o hábito de comer fora não encontram mais facilidade. Nos restaurantes, dificilmente o cardápio é balanceado e adaptado para as necessidades nutricionais dos pequenos – apenas o tamanho costuma ser menor do que a versão adulta.
        </p>
        <p>
            Para agravar o quadro ainda a mais, as crianças se movimentam muito pouco. A regrinha de ouro do gaste mais do que você consome também é válida para elas quando o assunto é queimar calorias. O problema é que esse grupo vem apresentando um estilo de vida cada vez mais sedentário com o passar dos anos e só a educação física do colégio não é o suficiente para gastar as calorias extras consumidas. Segundo a pesquisa o Ibope, os alunos das escolas avaliadas frequentam somente duas aulas semanais de educação física em tempos de 50 minutos, sendo que só 29 minutos são usados na prática de atividades, os 21 minutos restantes são gastos na mobilização e organização dos alunos. Quando o hábito de praticar esportes e até mesmo de brincar são substituídos por muita televisão, muito computador, muito videogame é natural que o esqueleto e músculos sejam exigidos muito pouco. Estima-se que a uma criança passe em média 4 horas do seu dia em frente a uma tela de TV, isso sem contar outros dispositivos eletrônicos.
        </p>
        <p>
            Já a OMS recomenda que crianças e adolescentes de 5 a 17 anos pratiquem pelo menos uma hora diária de atividade física, moderada ou intensa. Os médicos ainda ressaltam que a maior parte da atividade física diária deve ser aeróbica, como natação, vôlei e caminhada. Mas não é só isso. O objetivo maior é conscientizar a criançada sobre a importância dos exercícios. É por isso que as atividades devem ser diversificadas, prazerosas e adequadas para a idade da criança. Isso significa que vale brincar de pega-pega, andar de bicicleta e jogar futebol? Claro que sim!
        </p>
        <h2>Como identificar?</h2>
        <p>
            Mas como saber se a criança está com peso normal, com sobrepeso ou com obesidade? Para os adultos, há uma fórmula mais simples para definir se uma pessoa se encontra distante do seu <b>Índice de Massa Corporal (IMC)</b>.  É definida como o peso em quilos dividido pelo quadrado da altura em metros (kg/ m2). Para adultos, normalmente as medidas são específicas: IMC entre 18,5 e 25 é normal, enquanto acima de 25 já representa sobrepeso e além de 30 já é obesidade.
        </p>
        <p>
            Mas entre crianças e adolescentes a conta não é tão simples, porque seus corpos passam por uma série de alterações fisiológicas à medida que crescem. Muitas vezes um quilo a mais ou a menos pode ser a diferença entre as faixas. Por isso existem valores de referência específicos de <b>IMC</b> da criança. A prevalência de sobrepeso e obesidade é definida de acordo com a referência de crescimento definida pela OMS para crianças em idade escolar e adolescentes.
        </p>

        <h2>Por que o assunto é tão sério?</h2>
        <p>
            Um dos maiores problemas em apresentar obesidade logo nos primeiros anos de vida é que crianças e adolescentes sofrem as consequências do excesso de peso no curto e no longo prazo.
        </p>
        <p>
            Crianças com sobrepeso ou obesidade estão mais propensas a ficar obesas na vida adulta e desenvolver doenças crônicas, como diabetes e doenças cardiovasculares em uma idade mais jovem. Um estudo publicado na revista científica Pediatric Diabetes mostrou que <b>60% das crianças entre 5 e 10 anos têm pelo menos um fator de risco para alguma doença cardiovascular</b> (o estudo computou hipertensão arterial, colesterol alto, insulina alta, alteração do metabolismo da glicose ou algum fator que favoreça a trombose). E pior ainda, 20% delas têm dois ou mais destes fatores. A Sociedade Brasileira de Cardiologia aponta que 6% das crianças e adolescentes brasileiros já podem ser considerados hipertensos.
        </p>
        <p>
            As consequências para a saúde mais significativas do sobrepeso e obesidade infantil a longo prazo são muitas. Além das doenças cardíacas, hipertensão, acidente vascular cerebral e diabetes, males como distúrbios músculo-esqueléticos, especialmente a osteoartrite,  apneia do sono e certos tipos de câncer estão entre as principais complicações.
        </p>

        <p>
            O excesso de peso e obesidade estão associados a um risco aumentado para muitos tipos de tumores, incluindo câncer de mama, do cólon, do endométrio, do esófago, rim, pâncreas, vesícula biliar, da tireoide, ovário, colo de útero da próstata, mieloma múltiplo e linfoma de Hodgkin.
        </p>

        <p>
            Adicionados a esses problemas, há ainda questões sociais e psicológicas, como depressão, ansiedade, compulsão alimentar e baixa autoestima frutos da estigmatização e do preconceito e não raro dos efeitos de bullying, que é por definição um tipo de violência física ou psicológica que pode ser deflagrada tanto pelos colegas da escola, do bairro ou num cenário ainda mais preocupante pelos próprios professores e no próprio ambiente familiar.
        </p>
        <p>
            Não há boas perspectivas no universo das complicações que a obesidade pode trazer. E infelizmente nem sempre há finais felizes. A obesidade infantil também está associada a uma maior chance de morte prematura. <b>Pelo menos 2,6 milhões de pessoas a cada ano morrem por conta de excesso de peso ou obesidade.</b>
        </p>

        <h2>O que pode ser feito?</h2>
        <p>
            Agora, as boas notícias: é possível combater, é possível prevenir. Sabemos que a luta contra a obesidade infantil não é fácil, é diária, requer reeducação, aprendizado, paciência, dedicação e muito mais. Só quem é pai e mãe sabe o quão difícil é cuidar. E até mesmo dizer “não”.
        </p>

        <p>
            O programa de emagrecimento <b>Dieta e Saúde</b> tem a plena consciência de que a obesidade infantil não é um problema exclusivo de uma família ou de uma pessoa, muito menos de uma criança, é um problema de uma nação. <b>A causa de combate à obesidade infantil</b> é de todos nós. E, assim como pais e mães, queremos estar presentes na vida de cada criança, de cada adolescente, de cada filho, que precisa de ajuda.
        </p>

        <p>
            Nossa forma de fazer a diferença foi pensar exaustivamente em uma maneira de ajudar os adultos nessa tarefa diária. Foi assim que nasceu o <b>DS Kids</b>. Desenvolvido pela nossa equipe nutricional, o aplicativo é voltado para as crianças de 2 a 10 anos de idade e pretende ajudar pais e mães a montarem um cardápio equilibrado, nutritivo e saboroso, incentivar os pequenos a se movimentarem mais (com brincadeiras, inclusive), acompanhar a evolução de cada filho no controle e redução de peso e ainda rastrear e avaliar as opções saudáveis de alimentação para quem costuma comer fora.
        </p>
        <p>
            O Dieta e Saúde acredita que nenhuma criança precisa estar magra pelo simples fato de estar, mas faz parte dos seus direitos ter uma vida e um futuro mais saudável. Nas últimas duas décadas a obesidade entre crianças de 5 a 9 anos saltou de 4,1% para 16,6% entre os meninos e de 2,4% para 11,8% entre as meninas. Entre os adolescentes, o excesso de peso passou de 3,7% para 21,7% nos últimos 40 anos. As crianças e adolescentes de hoje podem se tornar a primeira geração em muitos anos a reverter esse quadro. A hora de começar é agora.
        </p>
    </div>
</section>
