<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dskidsapidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dskidsapidev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dskidsapidev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$dskidsapidev</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DSKids" Order="1" Enabled="False">
          <Destination Path="Data Source=177.135.152.115;Initial Catalog=DSKids;Persist Security Info=True;User ID=Dieta;Password=h0m0l0g@c@0_s0l" Name="Data Source=177.135.152.115;Initial Catalog=DSKids;User ID=Dieta; Persist Security Info=True; Pwd=h0m0l0g@c@0_s0l" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DS.Kids.Model.Repositories.Context, DS.Kids.Model.Repositories" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DSKids-Web.config Connection String">
      <ParameterValue>Data Source=177.135.152.115;Initial Catalog=DSKids;User ID=Dieta; Persist Security Info=True; Pwd=h0m0l0g@c@0_s0l</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>