@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="/content/css/index.min.css" rel="stylesheet" />
}
<!-- HEADER
   ================================================== -->
<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img-principal">
                <figure>
                    <img src="~/Content/img/devices.png" alt="devices" />
                </figure>
            </div>
            <div class="chamada col-md-6">
                <h1>Chegou o DS <span class="vermelho">K</span><span class="laranja">i</span><span class="verde">d</span><span class="azul">s</span>!</h1>

                <h2>
                    Cardápios bem equilibrados e gostosos, dicas de lancheira, ideias de brincadeiras e receitinhas gostosas para fazer juntos...
                </h2>

                <p>Com esse app os papais e mamães vão dar uma vida mais saudável para as crianças também! <strong>Baixe agora...é grátis! </strong></p>



                <a href="https://itunes.apple.com/br/app/ds-kids/id985198500?mt=8" class="btn-app-store"></a>
                <a href="https://play.google.com/store/apps/details?id=br.com.dskids" class="btn-google-play"></a>

                <div class="social">
                    <a class="icon-facebook" href="https://www.facebook.com/ProgramaDietaeSaude?ref=ts&fref=ts"></a>
                    <a class="icon-twitter" href="https://twitter.com/dietaesaude"></a>
                    <a class="icon-instagram" href="http://instagram.com/dietaesaudeoficial"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- O QUE É
    ================================================== -->
<section class="bloco sobre">
    <div class="container">
        <h1>O que é?</h1>
        <div class="row">
            <div class="col-md-5 vcenter">
                <figure>
                    <img src="~/Content/img/photos/crianca-comendo.jpg" />
                </figure>
            </div>
            <article class="col-md-7 vcenter">
                <p>
                    O DS Kids é um projeto institucional do <a href="http://www.dietaesaude.com.br">Dieta e Saúde</a>, o maior programa de emagrecimento online do Brasil. Já tivemos mais de 5 milhões de downloads no app e mais de 1 milhão de quilos perdidos pelos nossos usuários só em 2014.
                </p>
                <p>
                    Só que agora, além de cuidar da alimentação dos adultos, queremos que nossas crianças cresçam mais saudáveis e mais felizes. Por isso pensamos em ajudar os papais e mamães nesta tarefa, que não é tão fácil assim.
                </p>
            </article>
        </div>
        <div class="row frase">
            <div class="col-md-12">
                <p>
                    “Nosso sonho de ver crianças crescendo mais saudáveis, vivendo mais felizes…”
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 vcenter">
                <figure>
                    <img src="~/Content/img/screenshots/prints-app.jpg" />
                </figure>
            </div>
            <article class="col-md-7 vcenter">
                <p>
                    Com muito carinho, nossa equipe nutricional pensou em uma forma divertida de desenvolver o aplicativo DS Kids, que traz:
                </p>

                <ul>
                    <li> sugestões de cardápios equilibrados e nutritivos sem abrir mão do sabor</li>
                    <li> dicas super criativas para o dia-a-dia, como por exemplo montar uma lancheira de maneira saudável</li>
                    <li> formas muito legais de estimular a garotada a ser mais ativa através de brincadeiras</li>
                    <li> receitas fáceis de fazer com as crianças para ajudar a estimular o paladar com comidinhas saudáveis</li>
                    <li> e muitas outras ideias, dicas e informações que o pais precisam para criar uma rotina bem gostosa e saudável para as crianças</li>

                </ul>
            </article>
        </div>
        <div class="row baixar">
            <h2>E então, vamos começar?</h2>

            <a href="https://itunes.apple.com/br/app/ds-kids/id985198500?mt=8" class="btn-app-store"></a>
            <a href="https://play.google.com/store/apps/details?id=br.com.dskids" class="btn-google-play"></a>
        </div>
    </div>
</section>

<!-- FEATURES
    ================================================== -->
<section class="bloco features">
    <div class="container">
        <div class="row">
            <div class="evolucao col-md-4">
                <figure>
                    <img src="~/Content/img/figures/fig-evolucao.png" />
                </figure>
                <h2><i class="sprite ico-evolucao"></i> Evolução</h2>
                <p>
                    Acompanhe o crescimento e o peso de seu filho. É muito importante ter esse acompanhamento de tempos em tempos. No DS Kids você terá o
                    histórico de evolução do seu filho para sempre e poderá deixar o seu pediatra sempre atualizado.
                </p>
            </div>
            <div class="cardapios col-md-4">
                <figure>
                    <img src="~/Content/img/figures/fig-cardapios.png" />
                </figure>
                <h2><i class="sprite ico-cardapios"></i> Cardápios diários</h2>
                <p>
                    A criatividade para montar cardápios saudáveis não é fácil. Nós facilitamos muito sua vida apresentando cardápios criados pela nossa
                    equipe nutricional. Seu filho vai adorar a variedade e a qualidade da combinação dos alimentos que vamos oferecer.
                </p>
            </div>
            <div class="dicas col-md-4">
                <figure>
                    <img src="~/Content/img/figures/fig-dicas.png" />
                </figure>
                <h2><i class="sprite ico-dicas"></i> Dicas e brincadeiras</h2>
                <p>
                    Brincar e se divertir é saudável :) e é claro que nós sabemos que a brincadeira é a verdadeira atividade física para seu filho. Você
                    também terá muitas dicas de diversas categorias de conteúdo para proporcionar uma vida muito mais saudável para seus filhos.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- LIVRO MEU FILHO + SAUDÁVEL
    ================================================== -->
<section class="livro">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="http://www.dietaesaude.com.br/produto/livro-meu-filho-mais-saudavel-by-dskids">
                    <figure>
                        <img src="~/Content/img/figures/livroFilhoSaudavel.png" alt="Livro Meu Filho + Saudável"/>
                    </figure>
                </a>
            </div>
            <div class="col-md-9">
                <h2>A novidade não é só pra você...é para seus filhos também!</h2>
                <h1>Livro Meu filho + saudável</h1>
                <p>
                    E se além do app você quiser contar com mais dicas, mais ideias e mais receitas para fazer com as crianças, tenha o livro Meu
                    Filho + Saudável na sua casa!
                </p>
                <a href="http://www.dietaesaude.com.br/produto/livro-meu-filho-mais-saudavel-by-dskids" class="botao">comprar o livro agora</a>
                <img src="~/Content/img/figures/selo-Prevenda.png" alt="Pré venda" />
                <p class="prevenda"><strong>*Lançamento oficial em 28/08/2015, reserve já o seu!</strong></p>
            </div>
        </div>
    </div>
</section>


<!-- MANIFESTO
    ================================================== -->
<section class="manifesto">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Por que essa causa também é nossa?</h1>
                <button formtarget="_blank" onclick="window.location.href='/manifesto'">saiba mais</button>
            </div>
        </div>
    </div>
</section>

<!-- KICKANTE
    ================================================== -->
@*<section class="bloco kickante">
        <div class="fluid-container">
            <div class="row">
                <div class="col-md-12">
                    <h1><span>Kickante:</span> Faça parte deste time!</h1>
                    <p>
                        Esse é um <strong>projeto social, onde a renda gerada é reinvestida no próprio negócio</strong>, visando promover a causa
                        e trazer uma solução de alto impacto. Até o momento, <strong>desenvolvemos tudo em casa</strong>, paralelo às atividades que
                        já exercemos, mas para darmos continuidade agora, precisaremos da <strong>sua contribuição</strong>.
                        Para isso, estamos lançamos uma campanha em parceria com o Kickante, onde você pode ajudar financeiramente o projeto e, de quebra,
                        levar diversos produtos DS legais. Veja o que você pode ter:
                    </p>
                </div>
            </div>
            <ul class="row">
                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Pioneiros</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/74686">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Acesso à versão de testes<br />
                        do App antes de todos.
                    </p>
                    <i class="sprite kic-pioneiros"></i>
                </li>

                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Exploradores</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/75771">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Acesso ao app + e-book com mais <br />
                        de 50 receitas infantis
                    </p>
                    <i class="sprite kic-exploradores"></i>
                </li>

                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Descobridores</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/86416">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Livro de receitas infantis impresso + <br />
                        pack de adesivos DS Kids + <br />
                        poster Manifesto
                    </p>
                    <i class="sprite kic-descobridores"></i>
                </li>

                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Adeptos</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/86421">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Livro de receitas infantis impresso + <br />kit DS Kids
                    </p>
                    <i class="sprite kic-adeptos"></i>
                </li>
            </ul>
            <ul class="row">
                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Seguidores</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/86426">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Livro de receitas infantis impresso +<br />
                        Kit DS Kids +<br />
                        Acesso garantido a mais de 10<br />
                        palestras online com especialistas
                    </p>
                    <i class="sprite kic-seguidores"></i>
                </li>

                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Membros saudáveis</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/86431">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Livro de receitas infantis impresso +<br />
                        livro de receitas DS +  Kit DS Kids +<br />
                        Acesso garantido a mais de 10<br />
                        palestras online com especialistas + <br />
                        2 camisas do DS Kids
                    </p>
                    <i class="sprite kic-saudaveis"></i>
                </li>


                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>VIPs saudáveis</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/86436">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        Livro de receitas infantis impresso + <br />
                        livro de receitas DS + Kit DS Kids + Acesso <br />
                        garantido a mais de 10 palestras online com <br />
                        especialistas + 2 camisas do DS Kids + <br />
                        Lancheira + Webinar com especialista
                    </p>
                    <i class="sprite kic-vips"></i>
                </li>


                <li class="col-xs-12 col-sm-6 col-lg-3">
                    <h3>Empresa saudável</h3>
                    <div class="bt-kickar">
                        <a target="_blank" href="http://www.kickante.com.br/campanhas/toda-crianca-tem-direito-uma-vida-saudavel/apoiar/87451">
                            <i class="sprite kickar"></i> <strong>kickar</strong>
                        </a>
                    </div>
                    <p>
                        100 acessos as palestras online + <br />
                        100 livros impressos
                    </p>
                    <i class="sprite kic-empresa"></i>
                </li>
            </ul>
        </div>
    </section>*@


<!-- GUIA OBESIDADE
    ================================================== -->
@*<section class="guia">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Guia de Obesidade Infantil</h1>
                    <div class="mv-widget" data-widget-id="555b417fe420890f009fa183"></div>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "http://widget.minhavida.com.br/js/loader.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "mv-wjs");</script>
                </div>
            </div>
        </div>
    </section>*@