.sprite {
  background-image: url(../../img/sprites/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite.ico-cardapios {
  background-position: -5px -5px;
  width: 45px;
  height: 31px;
}
.sprite.ico-dicas {
  background-position: -60px -5px;
  width: 33px;
  height: 34px;
}
.sprite.ico-evolucao {
  background-position: -103px -5px;
  width: 33px;
  height: 28px;
}
.sprite.ico-voltar {
  background-position: -146px -5px;
  width: 20px;
  height: 12px;
}
.sprite.kic-adeptos {
  background-position: -176px -5px;
  width: 138px;
  height: 53px;
}
.sprite.kic-descobridores {
  background-position: -5px -68px;
  width: 221px;
  height: 73px;
}
.sprite.kic-empresa {
  background-position: -5px -151px;
  width: 137px;
  height: 73px;
}
.sprite.kic-exploradores {
  background-position: -152px -151px;
  width: 132px;
  height: 58px;
}
.sprite.kic-pioneiros {
  background-position: -236px -68px;
  width: 59px;
  height: 54px;
}
.sprite.kic-saudaveis {
  background-position: -5px -234px;
  width: 234px;
  height: 43px;
}
.sprite.kic-seguidores {
  background-position: -324px -5px;
  width: 220px;
  height: 53px;
}
.sprite.kic-vips {
  background-position: -249px -219px;
  width: 278px;
  height: 40px;
}
.sprite.kickar {
  background-position: -305px -68px;
  width: 31px;
  height: 29px;
}
